[submodule "yamlcss"]
	path = webgcal/libs/yamlcss
	url = https://github.com/mback2k/django-lib-yamlcss.git
[submodule "jdatetime"]
	path = webgcal/libs/jdatetime
	url = https://github.com/mback2k/django-lib-jdatetime.git
[submodule "swampdragon-live"]
	path = swampdragon-live
	url = https://github.com/mback2k/swampdragon-live.git
