[submodule "yamlcss"]
	path = webgcal/libs/yamlcss
	url = https://github.com/mback2k/django-lib-yamlcss.git
[submodule "jdatetime"]
	path = webgcal/libs/jdatetime
	url = https://github.com/mback2k/django-lib-jdatetime.git
[submodule "django-live-templates"]
	path = django-live-templates
	url = https://github.com/mback2k/django-live-templates.git
