Django==1.7
South==1.0
celery==3.1.15
SwampDragon==0.3.6
SwampDragon-auth==0.1.2
django-appengine-auth==0.1.3dev
django-celery==3.1.15
django-celery-model==0.0.3dev
django_compressor==1.4
django-redis==3.7.1
django-social-auth==0.7.28
google-api-python-client==1.2
python-dateutil==2.2
python-hcalendar==0.1.3dev
pytz
