Django==1.11.18
channels==2.1.6
channels_redis[cryptography]==2.3.2
celery[redis]==4.2.1
django-celery-beat==1.4.0
django-celery-results==1.0.4
django-celery-model==0.1.3
django_compressor==2.2
django-redis==4.10.0
google-api-python-client==1.7.7
social-auth-core[openidconnect]==2.0.0
social-auth-app-django==3.1.0
python-appengine-auth==0.1.dev0
python-dateutil==2.7.5
python-hcalendar==0.2.2
oauth2client==4.1.3
uvicorn
gunicorn
whitenoise
pytz
