{% extends "base.html" %}
{% load jdatetime %}
{% load yamlform %}
{% load compress %}

{% block js %}
{{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/angular-1.2.25.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/vendor/sockjs-0.3.4.min.js"></script>
  <script type="text/javascript" src="{{ DRAGON_URL }}settings.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/swampdragon.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/datamapper.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}swampdragon/js/angular/services.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/webgcal.app.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/webgcal.controllers.js"></script>
{% endblock %}}

{% block navigation %}
  <li><a href="{% url 'webgcal:show_home' %}" title="Home">Home</a></li>
  {% if user.is_authenticated %}
  <li class="active"><strong>Dashboard</strong></li>
  {% endif %}
{% endblock %}

{% block content %}
  <div ng-app="WebGCalApp">
  {% if calendar %}
  {% if calendar_edit_form %}
  <form action="{% url 'webgcal:edit_calendar' calendar.id %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6 class="ym-fbox-heading">Edit Calendar:</h6>
    {{ calendar_edit_form|yamlform }}
    <div class="ym-fbox-footer ym-fbox-button">
      <input class="ym-button ym-save ym-primary" type="submit" name="submit" value="Save Calendar" />
      <a class="ym-button ym-next" href="{% url 'webgcal:show_dashboard' %}" title="Go Back">Go Back</a>
    </div>
  </form>
  {% else %}
  {% if website_edit_form %}
  <form action="{% url 'webgcal:edit_website' calendar.id website.id %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6 class="ym-fbox-heading">Edit Website:</h6>
    {{ website_edit_form|yamlform }}
    <div class="ym-fbox-footer ym-fbox-button">
      <input class="ym-button ym-save ym-primary" type="submit" name="submit" value="Save Website" />
      <a class="ym-button ym-next" href="{% url 'webgcal:show_calendar' calendar.id %}" title="Go Back">Go Back</a>
    </div>
  </form>
  {% endif %}
  <a class="ym-button ym-next float-right" href="{% url 'webgcal:show_dashboard' %}" title="Go Back">Go Back</a>
  <h3>Websites of {{ calendar.name }}</h3>
  <table class="bordertable">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Events</th>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody ng-controller="WebGCalWebsiteController" ng-init="init({{ calendar.id }});">
      {% if calendar.websites %}
      {% for website in calendar.websites.all %}
      <tr{% if not website.enabled %} style="background: #fff8f8;"{% endif %}>
        <td><a href="{{ website.href }}" title="{{ website.href }}" rel="nofollow" ng-bind="websites[{{ forloop.counter0 }}].name">{{ website.name }}</a></td>
        <td>{{ website.events.count }}</td>
        <td>{% if website.updated %}{{ website.updated|localedatetime }}{% else %}None{% endif %}<br /><span ng-bind="websites[{{ forloop.counter0 }}].status">{{ website.status }}</span></td>
        <td>
          {% if not website.has_running_task %}
          <a class="ym-button ym-edit" href="{% url 'webgcal:edit_website' calendar.id website.id %}" title="Edit">Edit</a>
          <a class="ym-button {% if not website.enabled %}ym-enable ym-success{% else %}ym-disable ym-warning{% endif %}" href="{% url 'webgcal:switch_website' calendar.id website.id %}" title="{% if not website.enabled %}Enable{% else %}Disable{% endif %}">{% if not website.enabled %}Enable{% else %}Disable{% endif %}</a>
          <a class="ym-button ym-delete ym-danger" href="{% url 'webgcal:delete_website_ask' calendar.id website.id %}" title="Delete">Delete</a>
          {% if perms.webgcal.change_website %}
          <a class="ym-button ym-next" href="{% url 'webgcal:parse_website_now' calendar.id website.id %}" title="Parse now">Parse now</a>
          {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="5">No websites added yet.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if website_create_form %}
  <form action="{% url 'webgcal:create_website' calendar.id %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6 class="ym-fbox-heading">Add Website:</h6>
    {{ website_create_form|yamlform }}
    <div class="ym-fbox-footer ym-fbox-button">
      <input class="ym-button ym-save ym-primary" type="submit" name="submit" value="Add Website" />
      <a class="ym-button ym-next" href="{% url 'webgcal:show_dashboard' %}" title="Go Back">Go Back</a>
    </div>
  </form>
  {% endif %}
  {% endif %}
  {% endif %}
  <table class="bordertable">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody ng-controller="WebGCalCalendarController">
      {% for calendar in calendars %}
      <tr{% if not calendar.enabled %} style="background: #fff8f8;"{% endif %}>
        <td ng-bind="calendars[{{ forloop.counter0 }}].name">{{ calendar.name }}</td>
        <td>{% if calendar.updated %}{{ calendar.updated|localedatetime }}{% else %}None{% endif %}<br /><span ng-bind="calendars[{{ forloop.counter0 }}].status">{{ calendar.status }}</span></td>
        <td>
          <a class="ym-button ym-next" href="{% url 'webgcal:show_calendar' calendar.id %}" title="Show Websites">{% if calendar.websites.count %}{{ calendar.websites.count }}{% else %}Add{% endif %} Websites</a>
          {% if not calendar.has_running_task %}
          <a class="ym-button ym-edit" href="{% url 'webgcal:edit_calendar' calendar.id %}" title="Edit">Edit</a>
          <a class="ym-button {% if not calendar.enabled %}ym-enable ym-success{% else %}ym-disable ym-warning{% endif %}" href="{% url 'webgcal:switch_calendar' calendar.id %}" title="{% if not calendar.enabled %}Enable{% else %}Disable{% endif %}">{% if not calendar.enabled %}Enable{% else %}Disable{% endif %}</a>
          <a class="ym-button ym-delete ym-danger" href="{% url 'webgcal:delete_calendar_ask' calendar.id %}" title="Delete">Delete</a>
          {% if perms.webgcal.change_calendar %}
          <a class="ym-button ym-next" href="{% url 'webgcal:sync_calendar_now' calendar.id %}" title="Sync now">Sync now</a>
          {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="box info">The websites are currently parsed every hour and after all parsing is done the Google Calendar will be updated in small batches.</div>
  {% if calendar_create_form %}
  <form action="{% url 'webgcal:create_calendar' %}" method="post" class="ym-form ym-columnar">
    {% csrf_token %}
    <h6 class="ym-fbox-heading">Add Calendar:</h6>
    {{ calendar_create_form|yamlform }}
    <div class="ym-fbox-footer ym-fbox-button">
      <input class="ym-button ym-save ym-primary" type="submit" name="submit" value="Add Calendar" />
    </div>
  </form>
  {% endif %}
  </div>
{% endblock %}
