{% extends "base.html" %}

{% block navigation %}
  <li class="active"><strong>Home</strong></li>
  {% if user.is_authenticated %}
  <li><a href="{% url 'webgcal:show_dashboard' %}" title="Dashboard">Dashboard</a></li>
  {% endif %}
{% endblock %}

{% block content %}
  <p>This service allows you to add <a href="https://en.wikipedia.org/wiki/HCalendar">hCalendar</a>
  events to your <a href="https://en.wikipedia.org/wiki/Google_Calendar">Google Calendar</a>.</p>
  <p>Currently syncing {{ calendars }} calendars with {{ websites }} websites for {{ users }} users.</p>
  <p>It's important that the websites you are going to add contain hCalendar events.
  You can check this using the <a href="https://chrome.google.com/webstore/detail/gmbgaklkmjakoegficnlkhebmhkjfich">Google Calendar</a>
  or <a href="https://chrome.google.com/webstore/detail/oalbifknmclbnmjlljdemhjjlkmppjjl">Microformats</a>
  extensions for <a href="https://www.google.com/chrome/">Google Chrome</a> or
  the <a href="https://addons.mozilla.org/firefox/addon/operator/">Operator</a>
  addon for <a href="https://www.mozilla.org/firefox/">Mozilla Firefox</a>.</p>
  <p><em>Currently only the following attributes are supported:</em>
  <code>summary</code>, <code>description</code>, <code>location</code>, <code>status</code>,
  <code>dtstart</code>, <code>dtend</code>, <code>duration</code></p>
{% endblock %}
