{% extends "base.html" %}

{% block navigation %}
  <div class="hlist"><ul>
    <li><a href="{% url webgcal.views.show_home %}" title="Home">Home</a></li>
    <li class="active"><strong>Dashboard</strong></li>
  </ul></div>
{% endblock %}

{% block content %}
  <div id="upper">
    {% if calendar %}
    {% if edit_form %}
    <form action="{% url webgcal.views.edit_item edit_form.id %}" method="post" class="yform columnar">{% csrf_token %}
    <fieldset>
      <legend><img src="{{ STATICFILES_URL }}icons/pencil.png" alt="" /> <strong>Edit Calendar:</strong></legend>
      {{ edit_form.as_yaml }}
      <div class="type-button">
        <input type="submit" name="submit" value="Save Calendar" />
        <a href="{% url webgcal.views.show_dashboard %}" title="Close" class="toggle"><input type="button" name="close" value="Close" /></a>
      </div>
    </fieldset>
    </form>
    {% endif %}
    {% endif %}
  </div>
  <div id="base">
    <table class="full">
      <tbody>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Websites</th>
          <th scope="col">Status</th>
          <th scope="col">Manage</th>
        </tr>
        {% for calendar in calendars %}
        <tr {% if not calendar.enabled %}style="background: #fff8f8;"{% endif %}>
          <td>{{ calendar.name }}</td>
          <td>{{ calendar.websites }}</td>
          <td><a href="{% url webgcal.views.show_item calendar.id %}" title="Show" class="toggle"><img src="{{ STATICFILES_URL }}icons/{% ifequal calendar.statusimg "good" %}accept{% else %}error{% endifequal %}.png" alt="Status" /></a></td>
          <td><a href="{% url webgcal.views.edit_item calendar.id %}" title="Edit" class="toggle"><img src="{{ STATICFILES_URL }}icons/pencil.png" alt="Edit" /></a><a href="{% url webgcal.views.delete_item_ask calendar.id %}" title="Delete" class="delete"><img src="{{ STATICFILES_URL }}icons/delete.png" alt="Delete" /></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="lower">
    {% if create_form %}
    <form action="{% url webgcal.views.create_item %}" method="post" class="yform columnar">{% csrf_token %}
    <fieldset>
      <legend><img src="{{ STATICFILES_URL }}icons/add.png" alt="" /> <strong>Add Calendar:</strong></legend>
      {{ create_form.as_yaml }}
      <div class="type-button">
        <input type="submit" name="submit" value="Add Calendar" />
      </div>
    </fieldset>
    </form>
    {% endif %}
  </div>
{% endblock %}
