<!DOCTYPE html>
<html lang="{% firstof LANGUAGE_CODE 'en' %}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock %}</title>
  {% block css %}
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}core/base.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}screen/forms.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}add-ons/microformats/microformats.css" />
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}add-ons/rtl-support/core/base-rtl.css" />
  {% endif %}
  <!--[if IE]>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}core/iehacks.css" />
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}patches/patch_nav_vlist.css" />
  {% if LANGUAGE_BIDI %}
  <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATICFILES_URL }}add-ons/rtl-support/core/iehacks-rtl.css" />
  {% endif %}
  <![endif]-->
  {% endblock %}
  {% block js %}{% endblock %}
  {% block extra-head %}{% endblock %}
</head>
<body>
  {% block extra-top %}{% endblock %}
  <div id="page_margins">
    <div id="border-top">
      <div id="edge-tl"></div>
      <div id="edge-tr"></div>
    </div>
    <div id="page">
      <div id="header">
        <div id="topnav">
          <a class="skip" href="#navigation" title="skip link">Skip to navigation</a><span class="hideme">.</span>
          <a class="skip" href="#content" title="skip link">Skip to content</a><span class="hideme">.</span>
          {% block extra-login %}
          <span>
          {% if user.is_authenticated %}
            Welcome, {{ user.email }}! | 
            <a href="{% url django.contrib.auth.views.logout %}" title="Logout">Logout</a>
          {% else %}
            Welcome Guest! | 
            <a href="{% url django.contrib.auth.views.login %}" title="Login">Login</a>
          {% endif %}
          </span>
          {% endblock %}
        </div>
        {% block header %}{% endblock %}
      </div>
      <div id="nav">
        <a id="navigation"></a>
        {% block navigation %}{% endblock %}
      </div>
      <div id="main">
        <a id="content"></a>
        {% block content-header %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
              {% endfor %}
          </ul>
          {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>
      {% block footer %}
      <div id="footer">Layout based on <a href="http://www.yaml.de/">YAML</a></div>
      {% endblock %}
    </div>
    <div id="border-bottom">
      <div id="edge-bl"></div>
      <div id="edge-br"></div>
    </div>
  </div>
  {% block extra-bottom %}{% endblock %}
</body>
</html>
